.bottom{
    padding: 20px 0px 20px 0px;
    background-color: #F7F7F7;
    color: #000;
}
.bottom_text{
    margin-left: 130px;
    min-height: 130px;
}
.bottom_title{
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 800;
}
.copyright{
    padding: 10px 0px 10px 0px;
    background-color: #000000;
    color: #999;
}
.copyright_text{
    margin-left: 10px;
    text-align: center;
    font-size: 12px;
}
.textCenter{
    text-align: center;
}
.bodyCenter{
    margin: auto;
}
.hr_border{
    border-bottom: 1px dotted #777;
    line-height: 40px;
    padding-bottom: 5px;
}
div.hr_border {
    border: none;
    border-bottom:1px dotted #999; 
    clear:both; 
    height:0; 
    width: 100%;
    margin-bottom: 10px;
}
a.home_top_news:link, a.home_top_news:visited{
    font-size: 20px;
    color: #000;
    text-decoration: none;
    line-height: 28px;
}
a.home_top_news:hover{
    font-size: 20px;
    color: #555;
    text-decoration: none;
}
a.home_news:link{
    font-size: 14px;
    color: #000;
    text-decoration: none;
    line-height: 25px;
}
a.home_news:visited{
    font-size: 14px;
    color: #7f0000;
    text-decoration: none;
}
a.home_news:hover{
    font-size: 14px;
    color: #777;
    text-decoration: none;
}
.date_bg{
    background-color: #D50100;
    padding: 10px 0px 5px 0px;    
    text-align: right;
    color: #FFFFFF;   
    font-size: 16px;
    text-align: left;
}
.footer_text{
    text-align: center;
}
.local_main_news{
    border-bottom: 5px solid #EC1A23;
}
.category_news{
    border-bottom: 5px solid #F89406;
}
.hrline{
    border-bottom: 1px solid #000;
    height: 2px;
    margin-bottom: 10px;
}
.hrline_top{
    border-bottom: 1px double #000;
    height: 4px;
}
a.local_news:link, a.local_news:visited{
    font-size: 24px;
    color: #000;
    text-decoration: none;
    line-height: 35px;
}
a.local_news:hover{
    font-size: 24px;
    color: #555;
    text-decoration: none;
}
a.local_news2:link, a.local_news2:visited{
    font-size: 22px;
    color: #000;
    text-decoration: none;
    line-height: 30px;
}
a.local_news2:hover{
    font-size: 22px;
    color: #555;
    text-decoration: none;
}
.radio_pabna{
    margin-left:15px; 
    position: relative; 
    top: -10px; 
    font-weight: 800;
}
.new_tab_schrol{
    height:360px;
    overflow-y: scroll;
}
.chobirsongbad{
    background-color: #FF5A01;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 2px;
    color: #FFFFFF;
}